@use "assets/scss/colors";

.reorder {
    text-align: center;
    padding: 1rem 0;
}

#light .reorder{
    color: colors.$very-dark-grayish-blue-light-theme;
}

#dark .reorder{
    color: colors.$dark-grayish-blue;
}

