@use "assets/scss/colors";

.todo-footer {
  user-select: none;
  .top-container, .bottom-container {
    padding: 2rem;
  }
 .top-container {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 .5rem .5rem;
  color: colors.$dark-grayish-blue;
  .items-left {
    .left {
      padding-right: .5rem;
    }
   }
  .clear-completed {
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
      color: colors.$very-dark-grayish-blue-light-theme;
      transition: all .3s ease-in-out;
    }
  }
 } 
 .bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border-radius: .5rem;
  div {
    padding: 0 1.2rem;
  }
  .footer-link {
    color: colors.$dark-grayish-blue-light-theme;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      color: colors.$very-dark-grayish-blue-light-theme;
      transition: all .3s ease-in-out;
    }
  }
  .active {
    color: colors.$bright-blue;
    &:hover {
      color: colors.$dark-blue;
      transition: all .3s ease-in-out;
    }
  }
 }
}

#dark {
  .top-container, .bottom-container {
    background-color: colors.$very-dark-desaturated-blue;
  }
}

#light {
  .top-container, .bottom-container {
    background-color: colors.$very-light-gray;
  }
}




@media only screen and (max-width: 600px) {
  .todo-footer {
    .top-container, .bottom-container {
      box-shadow: 0px 24px 32px 5px colors.$light-grayish-blue-light-theme;
    }
    &:last-child {
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}
